#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
  width: 100%;
}

.page-header {
  text-transform:uppercase; 
  margin-bottom: 20px; 
  text-align:right;
}

.game-container {
  max-width: 450px;
  margin-top: 20px;
}

h1, h4 {
  margin: 0 auto;
}

.slider-container {
  width: 100%;
  display: grid;
  grid-template-areas:  "slider-instruction slider-instruction slider-instruction"
                        "num slider slider"
                        "score score score";
  align-items: center;
  grid-template-columns: 35px auto auto;
  padding: 10px 0;
}

h4 {
  grid-area: num;
  margin: 0;
  text-align: left;
}

.slider {
  grid-area: slider;
}

.slider-score {
  grid-area: score;
}

.slider-instruction {
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  grid-area: slider-instruction;
}

.score-modal {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.score-modal-box {
  max-width: 450px;
  margin: 0 auto;
  padding: 30px;
  border: none;
  background: #242424;
}

.total-score-free-play {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  box-sizing: border-box;
}

.stats-total-container {
  width: 100%;
}

.stats-total-container h1 {
  margin-top: 20px;
}

.stats-row {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  gap: 10px;
  box-sizing: border-box;
  align-items: center;
}
.stats-row p {
  font-weight: 600;
  text-align: center;
}


.stats-summary {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 16% 17% 17% 17% 17% 16%;
  box-sizing: border-box;
  align-items: flex-start;
}

.stats-box {
  border: solid 1px #42f5a7;
  border-radius: 5px;
  text-align: center;
}

.stats-percentage {
  background: #42f5a7;
  color: #242424;
  font-size: 18px;
  margin: 0;
}

.stats-box p {
  font-weight: 600;
  font-size: 0.7rem;
}

/* Footer */

footer {
  margin-top: 50px;
  text-align: center;
  border-bottom: 5px solid #42f5a7;
  margin-bottom: -1rem;
  background-image: url('./assets/footer-background.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.footer-ask {
  display: grid;
  grid-template-areas: "logo logo" "left right";
  align-items: center;
  grid-template-columns: 40% 60%;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.footer-ask picture {
  grid-area: logo;
  margin-bottom: 20px;
}

.footer-ask picture img {
  width: 130px;
}

.footer-ask p {
  grid-area: left;
  text-align: center;
  font-weight: 800;
}

.footer-ask button {
  grid-area: right;
}

.footer-details {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
}


.footer-details picture img {
  max-width: 100%;
  border-radius: 5px;
}

.footer-details p {
  text-align: left;
  font-size: 0.8rem;
  margin: 0;
}

.footer-details {
  padding-top: 20px;
  font-weight: 600;
}

.footer-socials {
  margin-top: 30px;
  padding-bottom: 80px;
}
.footer-socials a {
  margin: 10px;

}

/* Social Sharing Component */

.social-share-container {
  position: fixed;
  height: 90vh;
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s all; /* animation duration */
  opacity:1;
  background: #242424;
  border-top: #42f5a7 solid 4px;
  z-index: 1;
  box-sizing: border-box;
  transform: translateY(100%);
}

.social-share-container.open {
  transform: translateY(0);
}


.social-logos {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap:10px;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px white;
  box-sizing: border-box;
  max-width: 450px;
}

.copy-results {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 70px auto;
  align-items: center;
  text-align: left;
  gap: 30px;
}

.clipboard-icon {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  #root {
    width: 450px;
  }
  .results-chart {
    height: 400px;
  }
  .stats-total-container {
    width: 450px;
  }
  .slider-container {
    width:450px
  }
  .stats-box {
    height: auto;
  }
  .social-share-container {
    width: 462px;
    height: 92vh;
    left: auto;
    right: auto;
  }
}
