#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
  width: 100%;
}

.game-container {
  max-width: 450px;
}

h1, h4 {
  margin: 0 auto;
}

.slider-container {
  width: 100%;
  display: grid;
  grid-template-areas:  "slider-instruction slider-instruction slider-instruction"
                        "num slider slider"
                        "score score score";
  align-items: center;
  grid-template-columns: 35px auto auto;
  padding: 10px 0;
}

h4 {
  grid-area: num;
  margin: 0;
  text-align: left;
}

.slider {
  grid-area: slider;
}

.slider-score {
  grid-area: score;
}

.slider-instruction {
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  grid-area: slider-instruction;
}

.score-modal {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.score-modal-box {
  max-width: 450px;
  margin: 0 auto;
  padding: 30px;
  border: none;
  background: #242424;
}

.total-score-free-play {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  box-sizing: border-box;
}

.stats-total-container {
  width: 100%;
}

.stats-total-container h1 {
  font-size: 28px;
  margin-top: 20px;
}

.stats-row {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  gap: 10px;
  box-sizing: border-box;
  align-items: center;
}
.stats-row p {
  font-weight: 600;
  text-align: center;
}

.results-chart {
  width: 100%;
  height: 300px;
}

.stats-summary {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
  gap: 1px;
  box-sizing: border-box;
  align-items: flex-start;
}

.stats-box {
  border: solid 1px #42f5a7;
  border-radius: 5px;
  text-align: center;
  height: 100px;
}

.stats-percentage {
  background: #42f5a7;
  color: #242424;
  font-size: 18px;
  margin: 0;
}

.stats-box p {
  font-weight: 600;
  font-size: 0.7rem;
  margin: 7px;
}

@media (prefers-color-scheme: light) {
  .score-modal-box {
    background: white;
  }
}

@media only screen and (min-width: 768px) {
  #root {
    width: 482px;
  }
  .results-chart {
    height: 400px;
  }
  .stats-total-container {
    width: 450px;
  }
  .slider-container {
    width:450px
  }
  .stats-box {
    height: auto;
  }
}
